[submodule "extlib/sfml"]
	path = extlib/sfml
	url = https://github.com/SFML/SFML.git
[submodule "extlib/ionicons"]
	path = extlib/ionicons
	url = https://github.com/ionic-team/ionicons.git
[submodule "extlib/TGUI"]
	path = extlib/TGUI
	url = https://github.com/texus/TGUI.git
[submodule "extlib/json"]
	path = extlib/json
	url = https://github.com/nlohmann/json.git
[submodule "extlib/PicoSHA2"]
	path = extlib/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
